
        #popup
        {  
            width:500px;
            height:250px;;
            border:1px solid white;
            background-color:white;
            top:25%;
            position: fixed;
            margin-left: 410px;
            background: url(../images/b4.jpg);
            background-size: 100%;
            border: 2px solid rgba(147, 184, 189,0.6);
            box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
            border-radius: 10px;
            opacity:1; 
            
        }
        
        #overlay_signup
        {
            position:absolute;
            top:0px;
            visibility:hidden;   
            opacity:1;
            left:0px;
            height: 120%;
            width:100%;
            text-align:center;
        }
        
        #overlay_signup:target
        {
            visibility:visible;
            background: rgba(47,47,47,0.5);
        }
        
        #overlay
        {
            position:absolute;
            top:0px;
            visibility:hidden;    
            opacity:1;
            left:0px;
            height: 120%;
            width:100%;
            text-align:center;
        }
        
        #overlay:target
        {
            visibility:visible;
            background: rgba(47,47,47,0.5);
        }
        
        #overlay1
        {
            position:absolute;
            top:0px;
            visibility:hidden;    
            opacity:1;
            left:0px;
            height:120%;
            width:100%;
            text-align:center;
        }
        
        #overlay1:target
        {
            visibility:visible;
            background: rgba(47,47,47,0.5);
        }
        
        .login 
        {
            padding:35px;
            margin-top:20px;
           
        }
        .login label
        {
            font-size:15px;
            font-family:sans-serif;
        }
        
        .login .input
        {
            display: inline;
            font-family: "Helvetica Neue", Arial, sans-serif;
            border-style: solid;
            border-width: 1px;
            border-color: #dedede;    
            font-size: 1.55em;
            padding: 5px 25px;
            padding-left: 15px;
            width: 200px;
            color: #777;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        }
        
        
        .close_button
          {
            position:absolute;
            right:2px;
            cursor:pointer;
            border:none;
            margin-top:-20px;
          }
            